@charset "UTF-8";
/* line 17, ../sass/custom.scss */
.navbar-brand {
  font-size: 40px;
  letter-spacing: 2px;
  padding: 24px;
  font-family: 'Pacifico', cursive;
}

/* line 23, ../sass/custom.scss */
.fixed-menu {
  display: block;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 22px;
  top: 22px;
  z-index: 100;
}
/* line 31, ../sass/custom.scss */
.fixed-menu > span {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 40, ../sass/custom.scss */
.fixed-menu > span:nth-child(2) {
  top: 10px;
}
/* line 43, ../sass/custom.scss */
.fixed-menu > span:nth-child(3) {
  top: 20px;
}
/* line 49, ../sass/custom.scss */
.fixed-menu:hover > span:nth-child(1) {
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
/* line 52, ../sass/custom.scss */
.fixed-menu:hover > span:nth-child(3) {
  -moz-transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
/* line 58, ../sass/custom.scss */
.fixed-menu.is-active > span {
  background-color: #fff;
}
/* line 60, ../sass/custom.scss */
.fixed-menu.is-active > span:nth-child(1) {
  -moz-transform: rotate(-45deg) translate3d(-9px, 9px, 0);
  -ms-transform: rotate(-45deg) translate3d(-9px, 9px, 0);
  -webkit-transform: rotate(-45deg) translate3d(-9px, 9px, 0);
  transform: rotate(-45deg) translate3d(-9px, 9px, 0);
}
/* line 63, ../sass/custom.scss */
.fixed-menu.is-active > span:nth-child(2) {
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/* line 66, ../sass/custom.scss */
.fixed-menu.is-active > span:nth-child(3) {
  -moz-transform: rotate(45deg) translate3d(-5px, -5px, 0);
  -ms-transform: rotate(45deg) translate3d(-5px, -5px, 0);
  -webkit-transform: rotate(45deg) translate3d(-5px, -5px, 0);
  transform: rotate(45deg) translate3d(-5px, -5px, 0);
}

/* line 72, ../sass/custom.scss */
.fixed-menu-content {
  display: none;
  width: 100%;
  position: fixed;
  text-align: center;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE1YjJlMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(90deg, #ffd400 0%, rgba(21, 178, 224, 0.9) 100%);
  background: -webkit-linear-gradient(90deg, #ffd400 0%, rgba(21, 178, 224, 0.9) 100%);
  background: linear-gradient(0deg, #ffd400 0%, rgba(21, 178, 224, 0.9) 100%);
  height: 100%;
  top: 0;
  z-index: 99;
}
/* line 81, ../sass/custom.scss */
.fixed-menu-content:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 88, ../sass/custom.scss */
.fixed-menu-content a {
  text-decoration: none;
  color: #fff;
}
/* line 92, ../sass/custom.scss */
.fixed-menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 98, ../sass/custom.scss */
.fixed-menu-content ul li {
  -moz-transform: translate3d(0, 10%, 0);
  -ms-transform: translate3d(0, 10%, 0);
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
  padding-bottom: 20px;
}
/* line 103, ../sass/custom.scss */
.fixed-menu-content ul li:nth-child(1) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 106, ../sass/custom.scss */
.fixed-menu-content ul li:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 109, ../sass/custom.scss */
.fixed-menu-content ul li:nth-child(3) {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 112, ../sass/custom.scss */
.fixed-menu-content ul li:nth-child(4) {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 115, ../sass/custom.scss */
.fixed-menu-content ul li a {
  display: block;
}
/* line 117, ../sass/custom.scss */
.fixed-menu-content ul li a h4 {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
@media (max-width: 480px) {
  /* line 117, ../sass/custom.scss */
  .fixed-menu-content ul li a h4 {
    font-size: 24px;
  }
}
/* line 126, ../sass/custom.scss */
.fixed-menu-content ul li a h4:after {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 50%;
  right: 0;
}
/* line 138, ../sass/custom.scss */
.fixed-menu-content ul li a span {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18px;
  display: block;
}
@media (max-width: 480px) {
  /* line 138, ../sass/custom.scss */
  .fixed-menu-content ul li a span {
    font-size: 16px;
  }
}
/* line 148, ../sass/custom.scss */
.fixed-menu-content ul li a:hover h4:after {
  width: 100%;
}
/* line 157, ../sass/custom.scss */
.fixed-menu-content.is-active ul li {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* line 165, ../sass/custom.scss */
.work-experience .wrap {
  text-align: center;
  border: 1px solid #ccc;
}

/* line 171, ../sass/custom.scss */
.cbp_tmtimeline li {
  position: relative;
}

/* line 175, ../sass/custom.scss */
.outer-wrap {
  margin-top: 80px;
}

/* line 178, ../sass/custom.scss */
.section-wrap {
  padding: 5% 0;
}
@media (max-width: 480px) {
  /* line 178, ../sass/custom.scss */
  .section-wrap {
    padding: 20px 0;
  }
}

/* line 184, ../sass/custom.scss */
.work-card {
  height: 600px;
}
/* line 187, ../sass/custom.scss */
.work-card .row {
  margin: 0;
}
/* line 190, ../sass/custom.scss */
.work-card .item {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
/* line 194, ../sass/custom.scss */
.work-card .item:hover, .work-card .item:focus {
  text-decoration: none;
}
/* line 200, ../sass/custom.scss */
.work-card .item:hover .item-top img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 203, ../sass/custom.scss */
.work-card .item:hover .item-top .color {
  background-color: #777 !important;
}
/* line 208, ../sass/custom.scss */
.work-card .item .item-top {
  padding: 10px 0;
  position: relative;
}
/* line 211, ../sass/custom.scss */
.work-card .item .item-top img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transition: filter 0.5s ease;
  -o-transition: filter 0.5s ease;
  -webkit-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
}
/* line 216, ../sass/custom.scss */
.work-card .item .item-top .color {
  position: absolute;
  color: #fff;
  right: -13px;
  bottom: 0;
  line-height: 50px;
  padding: 0 10px;
}
/* line 223, ../sass/custom.scss */
.work-card .item .item-top .color.is-FFCC33 {
  background-color: #ffcc33;
}
/* line 226, ../sass/custom.scss */
.work-card .item .item-top .color.is-CC0000 {
  background-color: #cc0000;
}
/* line 229, ../sass/custom.scss */
.work-card .item .item-top .color.is-699E2C {
  background-color: #699E2C;
}
/* line 232, ../sass/custom.scss */
.work-card .item .item-top .color.is-00A0E0 {
  background-color: #00A0E0;
}
/* line 235, ../sass/custom.scss */
.work-card .item .item-top .color.is-D72825 {
  background-color: #D72825;
}
/* line 238, ../sass/custom.scss */
.work-card .item .item-top .color.is-FF6694 {
  background-color: #FF6694;
}
/* line 242, ../sass/custom.scss */
.work-card .item .item-top .color-ball {
  position: absolute;
  top: -10px;
  right: 0;
}
/* line 246, ../sass/custom.scss */
.work-card .item .item-top .color-ball i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f60;
}
/* line 255, ../sass/custom.scss */
.work-card .item .item-bottom {
  padding: 10px;
  background-color: #fff;
}
/* line 258, ../sass/custom.scss */
.work-card .item .item-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 264, ../sass/custom.scss */
.work-card .item .number {
  font-family: "Montserrat",Arial,メイリオ,Meiryo,sans-serif;
  font-size: 54px;
  font-weight: 700;
  position: absolute;
  left: -23px;
  top: -33px;
  text-shadow: 1px 1px #fff;
}
@media (max-width: 768px) {
  /* line 275, ../sass/custom.scss */
  .work-card .item {
    display: flex;
  }
  /* line 277, ../sass/custom.scss */
  .work-card .item .item-top {
    width: 200px;
    height: 200px;
    flex: none;
  }
  /* line 282, ../sass/custom.scss */
  .work-card .item .item-bottom {
    flex: 1;
  }
}

/* line 288, ../sass/custom.scss */
.my-skills {
  background-color: #000;
  color: #fff;
}
/* line 293, ../sass/custom.scss */
.my-skills .col-md-12 ul {
  list-style: none;
  padding: 0;
}
/* line 296, ../sass/custom.scss */
.my-skills .col-md-12 ul li {
  padding: 10px 0;
  width: 30%;
  font-size: 18px;
  display: inline-block;
}
@media (max-width: 480px) {
  /* line 296, ../sass/custom.scss */
  .my-skills .col-md-12 ul li {
    width: 100%;
  }
}

/* line 312, ../sass/custom.scss */
.main .main-left {
  width: 45%;
  background-image: url(../images/main-image.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-position: center center;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  /* line 312, ../sass/custom.scss */
  .main .main-left {
    width: 100%;
    position: initial;
  }
}
/* line 325, ../sass/custom.scss */
.main .main-left:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000;
  opacity: 0.3;
}
/* line 338, ../sass/custom.scss */
.main .main-left .inner {
  color: #fff;
  font-size: 46px;
  position: absolute;
  z-index: 2;
  bottom: 40%;
  padding: 0 5%;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}
/* line 349, ../sass/custom.scss */
.main .main-right {
  width: 55%;
  margin-left: 45%;
  height: 100vh;
}
@media (max-width: 768px) {
  /* line 349, ../sass/custom.scss */
  .main .main-right {
    width: 100%;
    margin-left: 0;
    height: initial;
  }
}
/* line 361, ../sass/custom.scss */
.main .main-right section .angle-wrap {
  position: relative;
  padding: 3% 10% 24% 10%;
}
@media (max-width: 480px) {
  /* line 361, ../sass/custom.scss */
  .main .main-right section .angle-wrap {
    padding: 4% 5% 40% 5%;
  }
}
/* line 367, ../sass/custom.scss */
.main .main-right section .angle-wrap:after {
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: -50px;
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  background-color: #eaeaea;
  z-index: 1;
}
/* line 379, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt {
  margin: 43px 0 30px 0;
  font-weight: bold;
  font-size: 40px;
  position: relative;
}
@media (max-width: 480px) {
  /* line 379, ../sass/custom.scss */
  .main .main-right section .angle-wrap > .tt {
    font-size: 36px;
  }
}
/* line 387, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt a {
  height: 30px;
  padding: 8px;
  border: 1px solid #333;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;
  letter-spacing: .03em;
  font-weight: 700;
  overflow: hidden;
  font-size: 1.1rem;
  margin-top: -15px;
  z-index: 2;
}
@media (max-width: 480px) {
  /* line 387, ../sass/custom.scss */
  .main .main-right section .angle-wrap > .tt a {
    bottom: initial;
    top: -20px;
  }
}
/* line 406, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt a span {
  position: relative;
  font-size: 16px;
  z-index: 3;
}
/* line 411, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt a:before {
  content: '';
  width: 107%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -110%;
  transform: translateX(0);
  transition: all 0.3s ease;
  z-index: 0;
}
/* line 423, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt a:hover {
  color: #fff;
}
/* line 425, ../sass/custom.scss */
.main .main-right section .angle-wrap > .tt a:hover:before {
  transform: translateX(100%);
}
/* line 432, ../sass/custom.scss */
.main .main-right section .web-design {
  background-color: #fff;
}
/* line 434, ../sass/custom.scss */
.main .main-right section .web-design:after {
  background-color: #eaeaea;
}
/* line 438, ../sass/custom.scss */
.main .main-right section .graphic-design {
  background-color: #eaeaea;
}
/* line 440, ../sass/custom.scss */
.main .main-right section .graphic-design:after {
  background-color: #f6e000;
}
/* line 444, ../sass/custom.scss */
.main .main-right section .about-me {
  background-color: #f6e000;
  min-height: 300px;
  overflow: hidden;
}
/* line 448, ../sass/custom.scss */
.main .main-right section .about-me:after {
  background-color: #5d5d5d;
}
/* line 451, ../sass/custom.scss */
.main .main-right section .about-me .me {
  width: 50%;
  position: absolute;
  right: -26px;
  bottom: -28px;
  z-index: 1;
}
@media (max-width: 480px) {
  /* line 451, ../sass/custom.scss */
  .main .main-right section .about-me .me {
    display: none;
  }
}
/* line 462, ../sass/custom.scss */
.main .main-right section .contact-me {
  background-color: #5d5d5d;
  padding: 4% 5% 20% 5%;
  color: #fff;
}
/* line 466, ../sass/custom.scss */
.main .main-right section .contact-me:after {
  display: none;
}
/* line 469, ../sass/custom.scss */
.main .main-right section .contact-me a {
  display: block;
  color: #fff;
  padding: 10px 0;
}

/* line 478, ../sass/custom.scss */
.item {
  display: block;
  margin-bottom: 10%;
}
/* line 481, ../sass/custom.scss */
.item:hover {
  text-decoration: none;
}
/* line 483, ../sass/custom.scss */
.item:hover .item-image {
  box-shadow: 0px 0px 7px 3px rgba(121, 121, 121, 0.7);
}
/* line 485, ../sass/custom.scss */
.item:hover .item-image:after {
  opacity: 0;
}
/* line 488, ../sass/custom.scss */
.item:hover .item-image img {
  transform: scale(1.05);
}
/* line 494, ../sass/custom.scss */
.item .item-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: none;
}
/* line 500, ../sass/custom.scss */
.item .item-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  transition: all 0.3s ease;
}
/* line 511, ../sass/custom.scss */
.item .item-image img {
  width: 100%;
  transition: all 0.3s ease;
  transform: scale(1);
}
/* line 517, ../sass/custom.scss */
.item .item-content {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 10px 0;
}
/* line 522, ../sass/custom.scss */
.item .item-content li {
  margin-bottom: 10px;
}
/* line 524, ../sass/custom.scss */
.item .item-content li .category {
  color: #000;
  padding: 1px 3px;
}
/* line 528, ../sass/custom.scss */
.item .item-content li.tt {
  font-size: 15px;
  font-weight: 900;
  background-image: url(http://www.smile-navi-web.com/top/img/exam/bg_h2.png);
  background-repeat: repeat-x;
  background-position: bottom;
  display: inline-block;
}
/* line 536, ../sass/custom.scss */
.item .item-content li.skill {
  height: 40px;
}
@media (max-width: 480px) {
  /* line 536, ../sass/custom.scss */
  .item .item-content li.skill {
    display: none;
  }
}
/* line 541, ../sass/custom.scss */
.item .item-content li.skill span {
  display: inline-block;
  font-size: 12px;
  color: #999;
}
/* line 545, ../sass/custom.scss */
.item .item-content li.skill span:after {
  content: '/';
  display: inline-block;
  padding: 0px 6px;
}
/* line 550, ../sass/custom.scss */
.item .item-content li.skill span:last-child:after {
  display: none;
}

/* line 558, ../sass/custom.scss */
.white-angle {
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: -50px;
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
}

/* line 569, ../sass/custom.scss */
.bg-gray {
  background-color: #eaeaea;
}

/* line 572, ../sass/custom.scss */
.card {
  margin-bottom: 10%;
  display: block;
}
/* line 577, ../sass/custom.scss */
.card:hover .card-image img {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 582, ../sass/custom.scss */
.card .card-image {
  width: 100%;
  overflow: hidden;
}
/* line 585, ../sass/custom.scss */
.card .card-image img {
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 590, ../sass/custom.scss */
.card .card-content {
  padding: 10px;
  background-color: #fff;
}

/* line 597, ../sass/custom.scss */
.nav-page-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 50px 0 30px 0;
}
@media (max-width: 480px) {
  /* line 597, ../sass/custom.scss */
  .nav-page-menu {
    margin: 50px 0 20px 0;
  }
}
/* line 606, ../sass/custom.scss */
.nav-page-menu li {
  display: inline-block;
}
/* line 608, ../sass/custom.scss */
.nav-page-menu li a {
  display: block;
  font-size: 28px;
  padding: 8px 10px;
  font-weight: bold;
  position: relative;
  margin: 0 10px;
}
@media (max-width: 480px) {
  /* line 608, ../sass/custom.scss */
  .nav-page-menu li a {
    font-size: 20px;
  }
}
/* line 618, ../sass/custom.scss */
.nav-page-menu li a:after {
  width: 0;
  content: '';
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 50%;
  transition: all 0.2s ease;
}
@media (max-width: 480px) {
  /* line 618, ../sass/custom.scss */
  .nav-page-menu li a:after {
    height: 2px;
  }
}
/* line 631, ../sass/custom.scss */
.nav-page-menu li a:hover:after, .nav-page-menu li a.active:after {
  width: 100%;
}

/* line 638, ../sass/custom.scss */
.graphic-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
/* line 644, ../sass/custom.scss */
.graphic-menu li {
  display: inline-block;
  border: 1px solid #000;
  margin-right: 3px;
  margin-bottom: 7px;
}
/* line 649, ../sass/custom.scss */
.graphic-menu li a {
  display: block;
  padding: 5px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 653, ../sass/custom.scss */
.graphic-menu li a:hover, .graphic-menu li a.active {
  background-color: #000;
  color: #fff;
}

/* line 661, ../sass/custom.scss */
.grid-item {
  width: 25%;
  padding: 5px;
}
@media (max-width: 768px) {
  /* line 661, ../sass/custom.scss */
  .grid-item {
    width: 33.3%;
  }
}
@media (max-width: 480px) {
  /* line 661, ../sass/custom.scss */
  .grid-item {
    width: 50%;
  }
}
@media (max-width: 320px) {
  /* line 661, ../sass/custom.scss */
  .grid-item {
    width: 100%;
  }
}
/* line 673, ../sass/custom.scss */
.grid-item .grid-item-image {
  width: 100%;
}
/* line 675, ../sass/custom.scss */
.grid-item .grid-item-image img {
  width: 100%;
}
/* line 679, ../sass/custom.scss */
.grid-item.lg {
  width: 50%;
  padding: 15px;
}
@media (max-width: 480px) {
  /* line 679, ../sass/custom.scss */
  .grid-item.lg {
    width: 100%;
    padding: 5px;
  }
}
/* line 687, ../sass/custom.scss */
.grid-item.md {
  width: 33.3333%;
  padding: 10px;
}
@media (max-width: 480px) {
  /* line 687, ../sass/custom.scss */
  .grid-item.md {
    width: 50%;
    padding: 5px;
  }
}
@media (max-width: 320px) {
  /* line 687, ../sass/custom.scss */
  .grid-item.md {
    width: 100%;
    padding: 5px;
  }
}
/* line 699, ../sass/custom.scss */
.grid-item.block {
  width: 100%;
}
