@import "compass/css3";
@import "bootstrap/variables";
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.navbar{
    // background-color: #fff;
}
.navbar-brand{
    font-size: 40px;
    letter-spacing: 2px;
    padding: 24px;
    font-family: 'Pacifico', cursive;
}
.fixed-menu{
    display: block;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 22px;
    top: 22px;
    z-index: 100;
    >span{
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        @include transition(all .25s ease-out);
        &:nth-child(2){
            top: 10px;
        }
        &:nth-child(3){
            top: 20px;
        }
    }
    &:hover{
        >span{
            &:nth-child(1){
                @include transform(translate3d(0, -2px, 0));
            }
            &:nth-child(3){
                @include transform(translate3d(0, 2px, 0));
            }
        }
    }
    &.is-active{
        >span{
            background-color: #fff;
            &:nth-child(1){
                @include transform(rotate(-45deg) translate3d(-9px, 9px, 0));
            }
            &:nth-child(2){
                @include transform(scaleX(0));
            }
            &:nth-child(3){
                @include transform(rotate(45deg) translate3d(-5px, -5px, 0));
            }
        }
    }
}
.fixed-menu-content{
    display: none;
    width: 100%;
    position: fixed;
    text-align: center;
    @include background(linear-gradient(0deg, #ffd400 0%, rgba(21, 178, 224, 0.9) 100%));
    height: 100%;
    top: 0;
    z-index: 99;
    &:after{
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        li{
            @include transform(translate3d(0, 10%, 0));
            @include transition(all .5s ease-out);
            opacity: 0;
            padding-bottom: 20px;
            &:nth-child(1){
                @include transition-delay(.1s);
            }
            &:nth-child(2){
                @include transition-delay(.2s);
            }
            &:nth-child(3){
                @include transition-delay(.3s);
            }
            &:nth-child(4){
                @include transition-delay(.4s);
            }
            a{
                display: block;
                h4{
                    font-size: 40px;
                    font-weight: bold;
                    position: relative;
                    display: inline-block;
                    padding: 0 10px;
                    @media(max-width: $screen-phone){
                        font-size: 24px;
                    }
                    &:after{
                        @include transition(all 0.3s ease);
                        content: '';
                        width: 0;
                        height: 4px;
                        position: absolute;
                        background-color: #fff;
                        left: 0;
                        top: 50%;
                        right: 0;
                    }
                }
                span{
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-size: 18px;
                    display: block;
                    @media(max-width: $screen-phone){
                        font-size: 16px;
                    }
                }
                &:hover{
                    h4:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    &.is-active{
        ul{
            li{
                @include transform(translate3d(0, 0, 0));
                opacity: 1;
            }
        } 
    }
}
.work-experience{
    .wrap{
        text-align: center;
        border: 1px solid #ccc;
    }
}
.cbp_tmtimeline{
    li{
        position: relative;
    }
}
.outer-wrap{
    margin-top: 80px;
}
.section-wrap{
    padding: 5% 0;
    @media(max-width: $screen-phone){
        padding: 20px 0;
    }
}
.work-card{
    // background-image: url(http://toshin-sekai.com/wp-content/themes/kayacmedia/images/stripe-a.png);
    height: 600px;
    .row{
        margin: 0;
    }
    .item{
        display: block;
        position: relative;
        margin-bottom: 15px;
        &:hover,
        &:focus{
            text-decoration: none;
        }
        &:hover{
            .item-top{
                img{
                    @include filter(grayscale(0));
                }
                .color{
                    background-color: #777!important;
                }
            }
        }
        .item-top{
            padding: 10px 0;
            position: relative;
            img{
                width: 100%;
                @include filter(grayscale(100%));
                @include transition(filter .5s ease);
            }
            .color{
                position: absolute;
                color: #fff;
                right: -13px;
                bottom: 0;
                line-height: 50px;
                padding: 0 10px;
                &.is-FFCC33{
                    background-color: #ffcc33;
                }
                &.is-CC0000{
                    background-color: #cc0000;
                }
                &.is-699E2C{
                    background-color: #699E2C;
                }
                &.is-00A0E0{
                    background-color: #00A0E0;
                }
                &.is-D72825{
                    background-color: #D72825;
                }
                &.is-FF6694{
                    background-color: #FF6694;
                }
            }
            .color-ball{
                position: absolute;
                top: -10px;
                right: 0;
                i{
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #f60;
                }
            }
        }
        .item-bottom{
            padding: 10px;
            background-color: #fff;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        .number{
            font-family: "Montserrat",Arial,メイリオ,Meiryo,sans-serif;
            font-size: 54px;
            font-weight: 700;
            position: absolute;
            left: -23px;
            top: -33px;
            text-shadow: 1px 1px #fff;
        }
    }
    @media (max-width: $screen-tablet){
            .item{
            display: flex;
            .item-top{
                width: 200px;
                height: 200px;
                flex: none;
            }
            .item-bottom{
                flex: 1;
            }
        }
    }
}
.my-skills{
    background-color: #000;
    color: #fff;
    .col-md-12{
        .tt{}
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 10px 0;
                width: 30%;
                font-size: 18px;
                display: inline-block;
                @media (max-width: $screen-phone){
                    width: 100%;
                }
            }
        }
    }
}

//index-v1
//main
.main{
    .main-left{
        width: 45%;
        background-image: url(../images/main-image.jpeg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        background-position: center center;
        @include transition(all 0.4s ease);
        @media(max-width: $screen-tablet){
            width: 100%;
            position: initial;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: #000;
            opacity: 0.3;
        }
        // &:hover{
        //     background-size: 110% auto;
        // }
        .inner{
            color: #fff;
            font-size: 46px;
            position: absolute;
            z-index: 2;
            bottom: 40%;
            padding: 0 5%;
            font-family: 'Pacifico', cursive;
            letter-spacing: 2px;
        }
    }
    .main-right{
        width: 55%;
        margin-left: 45%;
        height: 100vh;
        // overflow-y: scroll;
        @media(max-width: $screen-tablet){
            width: 100%;
            margin-left: 0;
            height: initial;
            // overflow-y: auto;
        }
        section{
            .angle-wrap{
                position: relative;
                padding: 3% 10% 24% 10%;
                @media(max-width: $screen-phone){
                    padding: 4% 5% 40% 5%;
                }
                &:after{
                    content: '';
                    width: 100%;
                    height: 100px;
                    position: absolute;
                    left: 0;
                    bottom: -50px;
                    -webkit-transform: skewY(5deg);
                    transform: skewY(5deg);
                    background-color: #eaeaea;
                    z-index: 1;
                }
                >.tt{
                    margin: 43px 0 30px 0;
                    font-weight: bold;
                    font-size: 40px;
                    position: relative;
                    @media (max-width: $screen-phone){
                        font-size: 36px;
                    }
                    a{
                        height: 30px;
                        padding: 8px;
                        border: 1px solid #333;
                        box-sizing: border-box;
                        text-decoration: none;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        letter-spacing: .03em;
                        font-weight: 700;
                        overflow: hidden;
                        font-size: 1.1rem;
                        margin-top: -15px;
                        z-index: 2;
                        @media(max-width: $screen-phone){
                            bottom: initial;
                            top: -20px;
                        }
                        span{
                            position: relative;
                            font-size: 16px;
                            z-index: 3;
                        }
                        &:before{
                           content: '';
                            width: 107%;
                            height: 100%;
                            background-color: #000;
                            position: absolute;
                            top: 0;
                            left: -110%;
                            transform: translateX(0);
                            transition: all 0.3s ease;
                            z-index: 0;
                        }
                        &:hover{
                            color: #fff;
                            &:before{
                                transform: translateX(100%);
                            }
                        }
                    }
                }
            }
            .web-design{
                background-color: #fff;
                &:after{
                    background-color: #eaeaea;
                }
            }
            .graphic-design{
                background-color: #eaeaea;
                &:after{
                    background-color: #f6e000;
                }
            }
            .about-me{
                background-color: #f6e000;
                min-height: 300px;
                overflow: hidden;
                &:after{
                    background-color: #5d5d5d;
                }
                .me{
                    width: 50%;
                    position: absolute;
                    right: -26px;
                    bottom: -28px;
                    z-index: 1;
                    @media(max-width: $screen-phone){
                        display: none;
                    }
                }
            }
            .contact-me{
                background-color: #5d5d5d;
                padding: 4% 5% 20% 5%;
                color: #fff;
                &:after{
                    display: none;
                }
                a{
                    display: block;
                    color: #fff;
                    padding: 10px 0;
                }
            }
        }
    }
}
.item{
    display: block;
    margin-bottom: 10%;
    &:hover{
        text-decoration: none;
        .item-image{
            box-shadow: 0px 0px 7px 3px rgba(121, 121, 121, 0.7);
            &:after{
                opacity: 0;
            }
            img{
                transform: scale(1.05);
                
            }
        }
    }
    .item-image{
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        box-shadow: none;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            opacity: 0.3;
            transition: all 0.3s ease;
        }
        img{
            width: 100%;
            transition: all 0.3s ease;
            transform: scale(1);
        }
    }
    .item-content{
        padding: 0;
        margin: 0;
        list-style: none;
        padding: 10px 0;
        li{
            margin-bottom: 10px;
            .category{
                color: #000;
                padding: 1px 3px;
            }
            &.tt{
                font-size: 15px;
                font-weight: 900;
                background-image: url(http://www.smile-navi-web.com/top/img/exam/bg_h2.png);
                background-repeat: repeat-x;
                background-position: bottom;
                display: inline-block;
            }
            &.skill{
                height: 40px;
                @media(max-width: $screen-phone){
                    display: none;
                }
                span{
                    display: inline-block;
                    font-size: 12px;
                    color: #999;
                    &:after{
                        content: '/';
                        display: inline-block;
                        padding: 0px 6px;
                    }
                    &:last-child:after{
                        display: none;
                    }
                }
            }
        }
    }
}
.white-angle{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: -50px;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
}
//graphic design
.bg-gray{
    background-color: #eaeaea;
}
.card{
    margin-bottom: 10%;
    display: block;
    &:hover{
        .card-image{
            img{
                @include transform(scale(1.05));
            }
        }
    }
    .card-image{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            @include transition(all .3s ease);
        }
    }
    .card-content{
        padding: 10px;
        background-color: #fff;
    }
}

//page
.nav-page-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: 50px 0 30px 0;
    @media(max-width: $screen-phone){
        margin: 50px 0 20px 0;
    }
    li{
        display: inline-block;
        a{
            display: block;
            font-size: 28px;
            padding: 8px 10px;
            font-weight: bold;
            position: relative;
            margin: 0 10px;
            @media(max-width: $screen-phone){
                font-size: 20px;
            }
            &:after{
                width: 0;
                content: '';
                height: 3px;
                background-color: #000;
                position: absolute;
                left: 0;
                bottom: 50%;
                transition: all 0.2s ease;
                @media(max-width: $screen-phone){
                    height: 2px;
                }
            }
            &:hover:after,
            &.active:after{
                width: 100%;
            }
        }
    }
}
.graphic-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    li{
        display: inline-block;
        border: 1px solid #000;
        margin-right: 3px;
        margin-bottom: 7px;
        a{
            display: block;
            padding: 5px;
            @include transition(all 0.3s ease);
            &:hover,
            &.active{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.grid-item{
    width: 25%;
    padding: 5px;
    @media(max-width: $screen-tablet){
        width: 33.3%;
    }
    @media(max-width: $screen-phone){
        width: 50%;
    }
    @media(max-width: 320px){
        width: 100%;
    }
    .grid-item-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
    &.lg{
        width: 50%;
        padding: 15px;
        @media(max-width: $screen-phone){
            width: 100%;
            padding: 5px;
        }
    }
    &.md{
        width: 33.3333%;
        padding: 10px;
        @media(max-width: $screen-phone){
            width: 50%;
            padding: 5px;
        }
        @media(max-width: 320px){
            width: 100%;
            padding: 5px;
        }
    }
    &.block{
        width: 100%;
    }
}